.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}